color-main-light = #fff
color-main-dark = #000
color-main-contrast = #2a3647

font-main = 'Raleway', sans-serif



.LazyLoad
    background-image url('http://yish-design.com/mantob/statics/zanjs/build/img/loadings.gif')