


@import '../../styles/settings'

.spacing
    padding-top 25px
    padding-bottom 25px

.custom-grid
  
    .custom-cell
        display block
        // a
        //     color color-main-contrast
        // +below(768px)
        //     stack()