widths = 225px

.goBlack
    padding 10px

.Topic
    color #000
    
.TopicMain
    width 1222px
    clear both
    overflow hidden
 
.TopicBanner
    min-height 300px
    margin-bottom 30px
    
.loadsta{
    min-height 300px
    margin-bottom 30px
    background no-repeat url('../loading/img/loading.svg') center center
}
  
.prolistBox
    float left
    width 225px
    height: 280px
    overflow hidden
    margin-right 19px
    margin-bottom 24px
    a
        color #000
    .name
        font-size 14px
        height 20px;
        overflow hidden
    .price
        color #ff6e6e
        font-size 19px
    
.thumbBox
    height  widths
    width   widths
    overflow  hidden
    margin-bottom 10px
    background no-repeat url('../loading/img/loadings.gif') center center
    img
        max-width widths
        max-height widths